:root {
  .light-theme {
    /* LIGHT COLORS */
    --primary-text: #654;
    --secondary-text: #796b6b;
    --primary-bg: #bfeefd;
    --secondary-bg: #ddf7fe;
    --slider-padding-left: 42px;
    --delete-color: #ab0000;
  }

  .dark-theme {
    /* DARK COLORS */
    --primary-text: #bfeefd;
    --secondary-text: #74b2c1;
    --primary-bg: #654;
    --secondary-bg: #796b6b;
    --slider-padding-left: .5rem;
      --delete-color: #ffffff;
  }
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }


#page {
    background-size: 100%;
    text-align:center;
    color: var(--primary-text);
    background-color:var(--primary-bg);
    height: 100vh;
}

header {
    text-align:left;
}

a {
    color: var(--secondary-text);
    border-radius:5px 5px 0px 0px;
    text-decoration:underline;
    text-transform:uppercase;
}

a:hover {
    text-decoration:underline;
    font-weight:600;
    background-color: lightblue;
    transition: all 0.2s ease-in 0s;
}

p {
    font-size: 1.5em;
}

#info-section {
    padding-left: 2rem;
}
#info-section li {
    margin-bottom: 1rem;
}

@media screen and (max-width: 768px)
{
  #page {
    margin: 10px;
  }

  #page-content {
    flex-direction: column;
  }
  #todo-list-section, #info-section {
    width: 100%;
    padding-top: 2rem;
    padding-left: 0;
  }

  a {
    padding:5px 0px;
    margin-left:0px;
    width: 100%;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;